body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My styles */

.alerta {
  color: firebrick;
}

.text-field {
  margin: 6px 0 !important;
}

.text-field input {
  color: #121212;
}

.text-field label {
  color: #121212;
}

.text-field:active fieldset {
  box-shadow: 0 0 2px #121212;
}

.text-field fieldset {
  border-color: #121212;
}

.text-field:hover fieldset {
  border-color: #12121255 !important;
}
